
.login-area, .transaction-area{
    min-height: 100vh;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
}
.login-area{
    flex-direction: column;
}
.submit-area{
    padding: 30px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.login-title{
    margin-bottom: 10px;
}

.transaction-area{
    display: none;
}


